@import "normalize";
@import "variables";
@import "mixins";
@import "grid";
@import "type";

// GENERAL
html, body {
	height:100%;
	font-family: 'Lora', serif;
}
body {
	overflow-x: hidden;
	background: white;

}
// padding for the fixed nav
div[class^="cp"] {
	> section {
		@include cont();
	}
}

.container,
[class*=cp-] > section{
	@include cont();
}

h1 {

}

a {
	color: $pine;
	text-decoration: none;
	&:hover{
		color: $mint-mist;
	}
}
.active a{
	color: $pine;
}
a[href^=tel] {
	pointer-events: initial;
}

a, button , [class^=icon]{
	-webkit-transition: color, background-color 200ms, 150ms;
	-moz-transition: color, background-color 200ms ,150ms;
	-ms-transition: color, background-color 200ms ,150ms;
	-o-transition: color, background-color 200ms ,150ms;
	transition: color, background-color 200ms ,150ms;
}
.btn {
	display: inline-block;
	margin-bottom: 0; // For input.btn
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	color: white;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	white-space: nowrap;
	background: $evening-sky;
	padding: 5px 10px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	&:hover{
		background: $morning-sky;
		text-decoration: none;
		color: white;
	}
	&.green-btn {
		background-color: $mint-mist;
		&:hover {
			background: $grass;
		}
	}
	&:active,
	&.active {
		outline: 0;
		background-image: none;
	}
	@media (min-width: 600px) {
		padding: 10px 20px;
	}
	&.no-border {
		border-color: transparent;
	}
	&.arrow-down {
		position: relative;
		.lnr {
			-webkit-transition: all 200ms;
			-moz-transition: all 200ms;
			-ms-transition: all 200ms;
			-o-transition: all 200ms;
			transition: all 200ms;
			position: absolute;
			bottom: -20px;
			left: 50%;
			margin-left: -10px;
		}
		&:hover {
			.lnr {
				pointer-events: none;
				bottom: -40px;
				color: inherit;
			}
		}
	}
	&.white {
		color: white;
		.lnr {
			color: white;
		}
	}
}

@media screen and (min-width: $BREAKPOINT-768) {
	.mobile {
		display: none;
	}
	.sub-nav.desktop {
		display: block;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select,
	textarea,
	input {
		font-size: 12px;
	}
}

// COMPONENTS
@import "components/cp-global-nav";
@import "components/cp-global-footer";
@import "components/cp-lead-in";
@import "components/cp-services-block";
@import "components/owl.carousel";
@import "components/owl.theme";
@import "components/cp-testimonials";
@import "components/cp-callout";
@import "components/print";