body,
p,
a,
li,
span {
	font-family: 'Muli', sanserif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
h1,
h2,
h3,
h4 {
	font-family: 'Lora', serif;
}
h1 {
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	line-height: 28px;
}
h2 {
	font-size: 24px;
	line-height: 30px;
}
h3 {
	font-size: 16px;
	line-height: 24px;
}
h4 {
	font-size: 12px;
	line-height: 18px;
}
/* ---------------------------------------------------- */
@media screen and (min-width: $BREAKPOINT-768) {
	h1 {
		font-size: 40px;
		line-height: 54px;
	}

}//end mediaQuery

/* ---------------------------------------------------- */
@media screen and (min-width: $BREAKPOINT-980) {

}//end mediaQuery

/* ---------------------------------------------------- */
@media screen and (min-width: $BREAKPOINT-1240) {

}//end mediaQuery

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */