// BREAK POINTS
$BREAKPOINT-480: 480px;
$BREAKPOINT-600: 600px; //tablet vertical
$BREAKPOINT-768: 768px; //tablet vertical
$BREAKPOINT-980: 980px; //tablet horizontal
$BREAKPOINT-1240: 1240px;

// COLORS
$grass: #1FB264;
$mint-mist: rgba(#00AC4E , 0.5);
$pine: #17462F;
$midnight-pine: #052613;
$black: #000000;
$white: #ffffff;


$morning-sky: #0091EA;
$evening-sky: #1565C0;
