//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
$zindex-modal: 1000;
$zindex-modal-background: $zindex-modal - 1;
$modal-backdrop-bg: $zindex-modal-background - 1;

.modal {
	&.background-blue {
		.modal-content {
			background-color: $blue-sky;
			.btn {
				color: $white;
				border-color: $white;
			}
		}
	}
	&.background-light-grey {
		.modal-content {
			background-color: $light-grey;
			.btn {
				color: $black;
				border-color: $black;
			}
		}
	}
}

.modal-open {
	overflow: hidden;
}
.modal {
	.cp_cta {
		> section {
			padding:0;
		}
	}
}
.close {
	position: absolute;
	top: 10px;
	right: 10px;
	&:hover {
		cursor: pointer;
	}
}
// Container that the modal scrolls within
.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal;
	-webkit-overflow-scrolling: touch;

	// Prevent Chrome on Windows from adding a focus outline. For details, see
	// https://github.com/twbs/bootstrap/pull/10951.
	outline: 0;

	// When fading in the modal, animate it to slide down
	&.fade .modal-dialog {
		transform: translate(0, -25%);
		transition: all 300ms;
	}
	&.in .modal-dialog {
		transform : translate(0, 0) }
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

// Actual modal
.modal-content {
	@include cont();
	padding: 40px 20px 60px;
	position: relative;
	border: 1px solid black; //old browsers fallback (ie8 etc)
	border-radius: 0;
	box-shadow : 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;
	// Remove focus outline from opened modal
	outline: 0;
}

// Modal background
.modal-backdrop,
.menu-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal-background;
	background-color: black;
	// Fade for backdrop
	&.fade {
		opacity: 0;
	}
	&.in {
		opacity: 0.5;
	}
}
.menu-backdrop {
	z-index: 0;
	display: none;
}
.menu-open {
	.menu-backdrop {
		z-index: 3;
		opacity: 0.5;
		display: block;
	}
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
	@include clearfix();
}
// Close icon
.modal-header .close {
}

// Title text within header
.modal-title {
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
	padding-bottom: 20px;
	position: relative;
}

// Footer (for actions)
.modal-footer {
	text-align: center; // right align buttons
	@include clearfix(); // clear it in case folks use .pull-* classes on buttons

	// Properly space out buttons
	.btn + .btn {
		margin-left: 5px;
		margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
	}
	// but override that for button groups
	.btn-group .btn + .btn {
		margin-left: -1px;
	}
	// and override it for block buttons as well
	.btn-block + .btn-block {
		margin-left: 0;
	}
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

// Scale up the modal
@media (min-width: $BREAKPOINT-768) {
	// Automatically set modal's width for larger viewports
	.modal-dialog {
		//width: $modal-md;
		//margin: 30px auto;
	}
	.modal-content {
		box-shadow : 0 3px 9px rgba(0,0,0,.5);
	}

	// Modal sizes
	.modal-sm {
		//width: $modal-sm;
	}
}

@media (min-width: $BREAKPOINT-980) {
	.modal-lg {

	}
}
