.cp-global-footer {
	margin-top: auto;
	padding: 20px 0 60px;
	background: $midnight-pine;
	color: white;
	> section {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
	span {
		display: inline-block;
		line-height: 10px;
		position: relative;
		padding-right:10px;
		margin-left:10px;
		&:before {
			content: '';
			height: 8px;
			width: 1px;
			position: absolute;
			right: 3px;
			top: 5px;
			background: white;
		}
		&:first-of-type {
			margin-left: 0;
		}
		&:last-child {
			&:before {
				background: none;

			}
		}
	}
	a,
	p {
		font-size: 12px;
		line-height: 18px;
	}
	p {
		display: inline-block;
		width: 100%
	}
	a {
		color: white;
		vertical-align: baseline;
		margin-right: 10px;
		img {
			margin-right: 5px;
		}
	}
	.phone {
		position: relative;
		top: 1px;
	}
	@media (min-width: 600px) {
		> section {
			display: flex;
			flex-direction: row;
		}

	}
}
