.cp-lead-in {
	display: flex;
	align-items: center;
	padding: 20px 0 40px;
	text-align: center;
	width: 100%;
	min-height: 485px;
	margin-bottom: 20px;
	background-size: cover;
	background-position: top center;
	background-color: #A6F1C9;

	> section {
		align-self: flex-end;
	}
	h1 {
		text-align: left;
		color: $pine;
	}
	header {
		max-width: 82vw;
		transition: all 200ms;
	}
	@media (min-width:$BREAKPOINT-600) {
		.copy-block {
			padding: 0 40px;
		}
		header {
			max-width: 75vw;
		}
	}
	@media (min-width: $BREAKPOINT-768) {

	}
	@media (min-width: $BREAKPOINT-980) {
		min-height: 530px;

		header {
			max-width: 936px;
		}
		.copy-block {
			padding: 0 120px;
		}
	}
}
